body {
	font-size: 16px;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
form {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: #333;
	text-decoration: none;
}

input {
	outline: none;
}

.sgq-return{
	font-size: .3rem;
    position: absolute;
    top: .4rem;
    right: .3rem;
    border: 1px solid #ddd;
    color:#888787;
    padding: .05rem;
    border-radius: 3px;	
}

.wlh-loginbox {
	overflow: hidden;
	background: url("../imgs/wlh/wlh_login_bg_min.png") no-repeat;
	background-size: 100% 100%;
	font-family: Arial, "微软雅黑";
	position: relative;
}

.wlh-loginbox .wlh-login {
	width: 4.73rem;
	height: 7.67rem;
	background: #ffffff url("../imgs/wlh/wlh_login_line_min.png") no-repeat left top;
	background-size: 100% auto;
	padding: 0.80rem 0.47rem;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.wlh-loginbox .wlh-loginmove {
	animation: move2 0.8s linear 3;
}

.wlh-loginbox .wlh-login img {
	width: 3.28rem;
	height: 2.18rem;
}

.wlh-loginbox .wlh-login p {
	color: #031a6a;
	font-size: 0.24rem;
	margin-top: 0.15rem;
}

.wlh-loginbox .wlh-login form {
	height: 4.06rem;
	margin-top: 0.40rem;
}

.wlh-loginbox .wlh-login form label.error {
	padding-left: 0.16rem;
	display: block;
	text-align: left;
	font-size: 0.22rem;
	line-height: 0.20rem;
	color: #4e4e4e;
	margin-top: 0.15rem;
}

.wlh-loginbox .wlh-login form .wlh-text {
	height: 1.32rem;
	line-height: 0.32rem;
}

.wlh-loginbox .wlh-login form .wlh-text input {
	width: 3.93rem;
	height: 0.64rem;
	background: url("../imgs/wlh/wlh_user.png") no-repeat 5% center;
	background-size: 0.23rem 0.26rem;
	border: 0px;
	font-size: 0.26rem;
	border: 1px solid #22adec;
	border-radius: 32px;
	padding-left: 0.80rem;
}

.wlh-loginbox .wlh-login form .wlh-ps {
	height: 1.32rem;
	line-height: 0.32rem;
}

.wlh-loginbox .wlh-login form .wlh-ps input {
	width: 3.93rem;
	height: 0.64rem;
	background: url("../imgs/wlh/wlh_mima.png") no-repeat 5% center;
	background-size: 0.23rem 0.26rem;
	border: 0px;
	font-size: 0.26rem;
	border: 1px solid #22adec;
	border-radius: 32px;
	padding-left: 0.80rem;
}

.wlh-loginbox .wlh-login form .wlh-radio {
	height: 0.35rem;
	line-height: 0;
}

.wlh-loginbox .wlh-login form .wlh-radio input {
	margin-right: 5px;
}

.wlh-loginbox .wlh-login form .wlh-radio label {
	font-size: 0.20rem;
	color: #ccc;
}

.wlh-loginbox .wlh-login form .wlh-btn {
	margin-top: 0.53rem;
	text-align: center;
}

.wlh-loginbox .wlh-login form .wlh-btn .wlh-res {
	width: 1.8rem;
	height: 0.73rem;
	background: #61b977;
	color: #fff;
	border: 0;
	border-radius: 32px;
	font-size: 0.32rem;
}

.wlh-loginbox .wlh-login form .wlh-btn .wlh-sub {
	width: 2.6rem;
	height: 0.73rem;
	border: 0;
	border-radius: 32px;
	background: #01a5e2;
	font-size: 0.32rem;
	color: #fff;
}

.wlh-loginbox .wlh-zhezhao {
	width: 100%;
	height: 100%;
	background: rgba(46, 46, 46, 0.8);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.wlh-loginbox .wlh-zhezhao .wlh-resetbox {
	width: 4rem;
	height: 2.64rem;
	background: #fff;
	border-radius: 18px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.wlh-loginbox .wlh-zhezhao .wlh-resetbox .wlh-reset-title {
	width: 1.62rem;
	height: 0.30rem;
	margin: 0.69rem auto 0.31rem;
	font-size: 0;
}

.wlh-loginbox .wlh-zhezhao .wlh-resetbox .wlh-reset-title img {
	width: 100%;
}

.wlh-loginbox .wlh-zhezhao .wlh-resetbox> p {
	padding: 0 0.92rem;
	text-align: center;
	font-size: 0.24rem;
}

.wlh-loginbox .wlh-zhezhao .wlh-resetbox .wlh-xiugai {
	width: 2.54rem;
	height: 0.60rem;
	position: absolute;
	left: 0.73rem;
	bottom: -0.3rem;
	cursor: pointer;
	font-size: 0;
}

.wlh-loginbox .wlh-zhezhao .wlh-resetbox .wlh-xiugai img {
	width: 100%;
}

.wlh-loginbox .wlh-zhezhao .wlh-resetbox2 {
	width: 4rem;
	height: 2.64rem;
	background: #fff;
	border-radius: 18px;
	position: absolute;
	display: none;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.wlh-loginbox .wlh-zhezhao .wlh-resetbox2 .wlh-reset-title {
	width: 1.62rem;
	height: 0.30rem;
	margin: 0.69rem auto 0.31rem;
	font-size: 0;
}

.wlh-loginbox .wlh-zhezhao .wlh-resetbox2 .wlh-reset-title img {
	width: 100%;
}

.wlh-loginbox .wlh-zhezhao .wlh-resetbox2> p {
	padding: 0 0.92rem;
	text-align: center;
	font-size: 0.24rem;
}

@keyframes move2 {
	0% {
		transform: translateX(0)
	}
	35% {
		transform: translateX(8px)
	}
	70% {
		transform: translateX(-8px)
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes move {
	0% {
		right: -200%
	}
	100% {
		right: 0
	}
}

.wlh-loginmove {
	animation: move2 .1s ease 3 alternate;
	-moz-animation: move2 .1s ease 3 alternate;
	/* Firefox */
	-webkit-animation: move2 .1s ease 3 alternate;
	/* Safari 和 Chrome */
	-o-animation: move2 .1s ease 3 alternate;
}

.wlh-loginbox .wlh-reset {
	width: 4.73rem;
	height: 8.17rem;
	background: #ffffff url("../imgs/wlh/wlh_login_line_min.png") no-repeat left top;
	background-size: 100% auto;
	padding: 0.60rem 0.47rem;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 0;
	right: -200%;
	top: 0;
	bottom: 0;
	margin: auto;
}

.wlh-loginbox .wlh-resetmove {
	right: 0;
	/*animation:move 0.5s linear forwards;
	-moz-animation: move 0.5s linear forwards; 
    -webkit-animation: move 0.5s linear forwards; 
    -o-animation: move 0.5s linear forwards;*/
}

.wlh-loginbox .wlh-reset .wlh-reset-photo {
	width: 3.32rem;
	height: 2.73rem;
	margin: 0 auto;
	position: relative;
}

.wlh-loginbox .wlh-reset .wlh-reset-photo .wlh-photo {
	width: 2.21rem;
	height: 2.21rem;
	margin: 0 auto;
	border: 7px solid #2298f3;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wlh-loginbox .wlh-reset .wlh-reset-photo .wlh-photo img {
	width: 2.21rem;
	height: 2.21rem;
}

.wlh-loginbox .wlh-reset .wlh-reset-photo .wlh-photo-zhe {
	width: 100%;
	height: 100%;
	background: url("../imgs/wlh/wlh_resize_bg.png") no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.wlh-loginbox .wlh-reset .wlh-resize-title {
	width: 3.3rem;
	height: 0.8rem;
	margin: 0 auto;
	text-align: center;
	font-size: 0.28rem;
	color: #888787;
	margin-top: 0.26rem;
}

.wlh-loginbox .wlh-reset form {
	height: 4.06rem;
	margin-top: 0.30rem;
}

.wlh-loginbox .wlh-reset form label.error {
	padding-left: 0.16rem;
	display: block;
	text-align: left;
	font-size: 0.22rem;
	line-height: 0.32rem;
	color: #4e4e4e;
	margin-top: 0.15rem;
}

.wlh-loginbox .wlh-reset form .wlh-text {
	height: 0.9rem;
	line-height: 0.9rem;
}

.wlh-loginbox .wlh-reset form .wlh-text input {
	width: 3.93rem;
	height: 0.64rem;
	background: url("../imgs/wlh/wlh_user.png") no-repeat 5% center;
	background-size: 0.23rem 0.26rem;
	border: 0px;
	font-size: 0.26rem;
	border: 1px solid #22adec;
	border-radius: 32px;
	padding-left: 0.80rem;
}

.wlh-loginbox .wlh-reset form .wlh-ps {
	height: 0.9rem;
	line-height: 0.9rem;
}

.wlh-loginbox .wlh-reset form .wlh-ps input {
	width: 3.93rem;
	height: 0.64rem;
	background: url("../imgs/wlh/wlh_mima.png") no-repeat 5% center;
	background-size: 0.23rem 0.26rem;
	border: 0px;
	font-size: 0.26rem;
	border: 1px solid #22adec;
	border-radius: 32px;
	padding-left: 0.80rem;
}

.wlh-loginbox .wlh-reset form .wlh-btn {
	width: 3.0rem;
	height: 0.8rem;
	margin: 0 auto;
	margin-top: .1rem;
	background: url("../imgs/wlh/wlh_resize.png") no-repeat center top;
	background-size: cover;
	display: block;
	border: 0;
}