* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lxr_header {
  width: 100%;
  height: 50px;
  background: #01A5E2;
  color: white;
  font-size: 26px;
  text-align: center;
  line-height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.lxr_search {
  width: 100%;
  height: 50px;
  background: #C9C9CE;
  border-top: 1px solid #99999D;
  border-bottom: 1px solid #99999D;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 10;
}
.lxr_search input {
  width: 93.6%;
  height: 37px;
  border-radius: 7px;
  text-align: center;
  font-size: 26px;
  color: #CCCCCC;
  border: 0;
  margin-top: 7px;
  margin-left: 3.2%;
}
.lxr_search input:focus {
  border: 0;
}
.lxr_search img {
  position: absolute;
  top: 15px;
  left: 30%;
}
.reminder {
  width: 90%;
  height: 50px;
  background: #F2F2F2;
  display: none;
  font-size: 26px;
  color: #4D4D4D;
  line-height: 54px;
  padding-left: 6%;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 5;
}
.lxr_refresh {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  padding-top: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.lxr_refresh .lxr_shuaxin {
  width: 100%;
  height: 20px;
  font-size: 20px;
  color: #535353;
  text-align: center;
  line-height: 28px;
  margin-bottom: 20px;
}
.lxr_body {
  width: 93.333333%;
  height: auto;
}
.lxr_body dl {
  width: 100%;
  height: auto;
  padding-left: 6%;
}
.lxr_body dl dt {
  width: 93.57%;
  height: 45px;
  background: #F2F2F2;
  margin-left: -10%;
  font-size: 20px;
  color: #4D4D4D;
  line-height: 45px;
  padding-left: 6.42%;
}
.lxr_body dl dd {
  width: 93.57%;
  height: 45px;
  font-size: 20px;
  color: #4D4D4D;
  line-height: 45px;
  border-bottom: 1px solid #99999D;
}
.lxr_body .lxr_nohas {
  height: 0;
  overflow: hidden;
}
/*侧滑字母*/
.lxr_slide {
  width: 6.666666666666%;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 5;
  text-align: center;
  color: #42538F;
  line-height: 18px;
}
.lxr_slide li {
  margin-top: 4px;
  font-size: 16px;
  color: #4D5D96;
  cursor: pointer;
}
