body{
  font-family: '微软雅黑','Helvetica Neue',sans-serif;
  font-size: 16px;
}
*{
  -webkit-tap-highlight-color:transparent;
}

@mixin userem($size){
  $list: 1024px,800px,768px,600px,435px,414px,412px,384px,375px,360px,320px;
  @each $i in $list{
    @media screen and (min-width: #{$i}){
      html{
        font-size:100px * ( $i / $size);
      }
    }
  }
}
@include userem(640px);

@mixin cube ($size){
  width: $size;
  height: $size;
  background: rgb(125, 230, 124);
}
@mixin matrix ($w,$h){
  width:$w;
  height: $h;
  background: rgb(247, 106, 219);
}
@mixin topbottom{
  position: absolute;
  top:0;
  bottom: 0;
  margin:auto;
}
@mixin leftright{
  position: absolute;
  left:0;
  right: 0;
  margin:auto;
}
@mixin center{
  position: absolute;
  left:0;
  right: 0;
  top:0;
  bottom:0;
  margin:auto;
}
@mixin gai{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
@mixin circle ($size){
  width: $size;
  height: $size;
  border-radius: 50%;
  background: rgb(216, 227, 77);
}
body,ul,li,dl,dt,dd{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  background-color: #f9f9f9;
  z-index: 1;
}
.sub-header{
  position: fixed;
  top:0.8rem;
  left:0;
  width: 100%;
  height: 0.88rem;
  background: #c9c9ce;
  z-index: 1;

  .search{
    display: block;
    width: 5.5rem;
    height: 0.5rem;
    border:none;
    border-radius:5px;
    @include center;
    outline: none;
    text-align: center;
    font-size:0.28rem;
  }
}


.content{

  padding-top:1.68rem;


  .indexlist{
    width: 0.3rem;
    position: fixed;
    top:0;
    right:0;
    z-index: 2;

    li{
      text-align: center;
      font-size: 0.23rem;
      line-height: 0.3rem;
      width: 100%;
      height: 0.3rem;
      color: #007aff;
      font-weight: 500;
      margin-bottom:2px;
    }
  }

  .fixedindex{
    position: fixed;
    top:1.68rem;
    left: 0;
    width: 100%;
    padding-left: 0.32rem;
    height: 0.56rem;
    line-height: 0.56rem;
    background-color: #f2f2f2;
    z-index: 1;
  }

  .userlist{
    padding-right: 0.3rem;

    dt{
      padding-left: 0.32rem;
      height: 0.56rem;
      line-height: 0.56rem;
      background-color: #f2f2f2;
    }
    dd{
      height: 0.86rem;
      line-height: 0.86rem;
      border-bottom:1px solid #aaa;
      margin-left:0.32rem;
      position: relative;

      a{
        @include gai;
        width: 90%;
      }
    }

    dd:last-of-type{
      border:none;
    }
  }
}
