body,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,hr,p,pre,form,button, input, textarea,th,td{
	margin:0;
	padding:0;
}
ul,ol{
	list-style: none;
}
table{
	border-collapse: collapse; 
	border-spacing: 0; 
}
a{ 
	text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
a,button{ 
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
input:focus{ 
	outline: 0;
}
img{ 
	border:0; 
}
pre{ 
	overflow: auto;
}
code,kbd,pre,samp {
	font-family: monospace, monospace; 
	font-size: 1em;
}