body{
  font-size: 16px;
}
body,ul,li,p,h1,h2,h3,h4,h5,h6,input,form{
  margin:0;
  padding:0;
  list-style: none;
}
a{
  color: #333;
  text-decoration: none;
}
input{
  outline:none;
}
.wlh-loginbox {
  overflow: hidden;
  background: url("../imgs/wlh/wlh_login_bg.png") no-repeat;
  font-family: Arial, "微软雅黑";
  position: relative;
}
.wlh-loginbox .wlh-login {
  width: 303px;
  height: 422px;
  background: #fff url("../imgs/wlh/wlh_login_line.png") no-repeat left top;
  padding: 45px 33px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  position: absolute;
}
.wlh-loginbox .wlh-login p {
  color: #031a6a;
  font-size: 16px;
  margin-top: 15px;
}
.wlh-loginbox .wlh-login form {
  height: 218px;
  margin-top: 40px;
}
.wlh-loginbox .wlh-login form label.error {
  background: url("../imgs/wlh/wlh_wen.png") no-repeat 0 4px;
  padding-left: 16px;
  display: block;
  width: 287px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  color: #4e4e4e;
}
.wlh-loginbox .wlh-login form .wlh-text {
  height: 60px;
  line-height: 32px;
}
.wlh-loginbox .wlh-login form .wlh-text input {
  width: 261px;
  height: 32px;
  background: url("../imgs/wlh/wlh_user.png") no-repeat 10px 6px;
  border: 0px;
  font-size: 16px;
  border: 1px solid #22adec;
  border-radius: 18px;
  padding-left: 42px;
}
.wlh-loginbox .wlh-login form .wlh-ps {
  height: 60px;
  line-height: 32px;
}
.wlh-loginbox .wlh-login form .wlh-ps input {
  width: 261px;
  height: 32px;
  background: url("../imgs/wlh/wlh_mima.png") no-repeat 10px 6px;
  border: 0px;
  font-size: 16px;
  border: 1px solid #22adec;
  border-radius: 18px;
  padding-left: 42px;
}
.wlh-loginbox .wlh-login form > label {
  font-size: 12px;
  color: #ccc;
}
.wlh-loginbox .wlh-login form .wlh-btn {
  margin-top: 40px;
}
.wlh-loginbox .wlh-login form .wlh-btn .wlh-res {
  width: 120px;
  height: 41px;
  background: #61b977;
  color: #fff;
  border: 0;
  border-radius: 18px;
  font-size: 18px;
}
.wlh-loginbox .wlh-login form .wlh-btn .wlh-sub {
  width: 173px;
  height: 41px;
  border: 0;
  border-radius: 18px;
  background: #01a5e2;
  font-size: 18px;
  color: #fff;
}
.wlh-loginbox .wlh-zhezhao {
  width: 100%;
  height: 100%;
  background: rgba(46, 46, 46, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.wlh-loginbox .wlh-zhezhao .wlh-resetbox {
  width: 440px;
  height: 264px;
  background: #fff;
  border-radius: 18px;
  position: absolute;
}
.wlh-loginbox .wlh-zhezhao .wlh-resetbox .wlh-reset-title {
  width: 162px;
  height: 30px;
  margin: 69px auto 31px;
}
.wlh-loginbox .wlh-zhezhao .wlh-resetbox > p {
  padding: 0 92px;
  text-align: center;
  font-size: 20px;
}
.wlh-loginbox .wlh-zhezhao .wlh-resetbox .wlh-xiugai {
  width: 254px;
  height: 60px;
  position: absolute;
  left: 103px;
  bottom: -30px;
  cursor: pointer;
}
.wlh-loginbox .wlh-zhezhao .wlh-resetbox2 {
  width: 440px;
  height: 264px;
  background: #fff;
  border-radius: 18px;
  position: absolute;
  display: none;
  z-index: 10;
}
.wlh-loginbox .wlh-zhezhao .wlh-resetbox2 .wlh-reset-title {
  width: 162px;
  height: 30px;
  margin: 69px auto 31px;
}
.wlh-loginbox .wlh-zhezhao .wlh-resetbox2 > p {
  padding: 0 92px;
  text-align: center;
  font-size: 20px;
}
.wlh-loginbox .wlh-reset {
  width: 303px;
  height: 440px;
  background: #fff url("../imgs/wlh/wlh_login_line.png") no-repeat left top;
  padding: 27px 33px 45px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  position: absolute;
}
.wlh-loginbox .wlh-reset .wlh-reset-photo {
  width: 153px;
  height: 117px;
  margin: 0 auto;
  position: relative;
}
.wlh-loginbox .wlh-reset .wlh-reset-photo .wlh-photo {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  border: 7px solid #2298f3;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.wlh-loginbox .wlh-reset .wlh-reset-photo .wlh-photo img {
  width: 103px;
  height: 103px;
}
.wlh-loginbox .wlh-reset .wlh-reset-photo .wlh-photo-zhe {
  width: 100%;
  height: 100%;
  background: url("../imgs/wlh/wlh_resize_bg.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
.wlh-loginbox .wlh-reset .wlh-resize-title {
  width: 180px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #888787;
  margin-top: 26px;
}
.wlh-loginbox .wlh-reset form {
  height: 218px;
  margin-top: 20px;
}
.wlh-loginbox .wlh-reset form label.error {
  background: url("../imgs/wlh/wlh_wen.png") no-repeat 0 4px;
  padding-left: 16px;
  display: block;
  width: 287px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  color: #4e4e4e;
}
.wlh-loginbox .wlh-reset form .wlh-text {
  height: 60px;
  line-height: 32px;
}
.wlh-loginbox .wlh-reset form .wlh-text input {
  width: 261px;
  height: 32px;
  background: url("../imgs/wlh/wlh_user.png") no-repeat 10px 6px;
  border: 0px;
  font-size: 16px;
  border: 1px solid #22adec;
  border-radius: 18px;
  padding-left: 42px;
}
.wlh-loginbox .wlh-reset form .wlh-ps {
  height: 60px;
  line-height: 32px;
}
.wlh-loginbox .wlh-reset form .wlh-ps input {
  width: 261px;
  height: 32px;
  background: url("../imgs/wlh/wlh_user.png") no-repeat 10px 6px;
  border: 0px;
  font-size: 16px;
  border: 1px solid #22adec;
  border-radius: 18px;
  padding-left: 42px;
}
.wlh-loginbox .wlh-reset form > label {
  font-size: 12px;
  color: #ccc;
}
.wlh-loginbox .wlh-reset form .wlh-btn {
  width: 198px;
  height: 49px;
  margin: 0 auto;
  margin-top: 13px;
  background: url("../imgs/wlh/wlh_resize.png") no-repeat;
  display: block;
  border: 0;
}
